{% extends 'demo.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <th>
                        序号
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        分数
                    </th>
                </tr>
                <tr class="alert-success">
                    <td>1</td>
                    <td>孙麒麟</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>孙麒麟</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>孙麒麟</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>

</div>



{% endblock %}