{% extends 'demo.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-default" role="navigation">
          　<div class="navbar-header">
          　    <a href="##" class="navbar-brand">Zen</a>
          　</div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="##">首页</a></li>
                <li><a href="##"></a></li>
                <li><a href="##">论坛<span class="badge">10</span></a></li>
                <li><a href="##">反馈</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;margin-top: 10px">
                <div class="btn-group">
                    <button type="button" class="btn btn-success"><strong>{{ current_user.username }}</strong></button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>

                <ul class="dropdown-menu">
                    {% if current_user.role == 1 %}
                    <li><a href="#">授权</a></li>
                    {% else %}
                     <li><a href="#">权限申请</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                </ul>
                </div>
            </ul>

        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown()
    </script>
{% endblock %}